<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>About Page</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>This Site Was Created By Abdo Dawam</p>
    <img class="portrait" src="/img/download.jpeg" alt="" />
    </div>
    {{>footer}}
  </body>
</html>